@import 'fonts.css';

.Main
{
  position: relative;
  background: hsl( 210, 85%, 30% );
  width: 100%;
  height: 100vh;
}

/* Menus styles -------------------- */
.Menu
{
  position: absolute;
  bottom: 0;
}

.Menu-content
{
  display: flex;
  list-style: none;
}

.Menu-link
{
  color: hsl( 0, 100%, 100% );
  font-family: 'Roboto', sans-serif, verdana;
  text-decoration: none;
}
